#{extends 'standardForm.html' /}
#{set title:'PoslovniPartneri' /}

<script>
$(document).ready(function(){
	$("#preduzecePickup").click(function(){
		id = $(".highlighted").find(".id").html();
		$("select").val(id);
		$('#preduzeceModal').modal('toggle');
	});
});

$(document).ready(function(){
	$("#naseljenoMestoPickup").click(function(){
		id = $(".highlighted").find(".id").html();
		$("select").val(id);
		$('#naseljenaMestaModal').modal('toggle');
	});
});

function sync(item){
	tipPartnera = item.find(".tipPartnera").html()
    nazivPartnera = item.find(".nazivPartnera").html()
    pib = item.find(".pib").html()
    adresa = item.find(".adresa").html()
    id = item.find(".id").html()
    $("#tipPartnera").val(tipPartnera);
    $("#nazivPartnera").val(nazivPartnera);
    $("#pib").val(pib);
    $("#adresa").val(adresa);
    
    $("#id").val(id);

}
function remove(id){
		$(location).attr('href','/PoslovniPartneri/remove?id='+id);
	}
		 

 



</script>



<p>
<ul>
  <li><a href="@{PoslovniPartneri.show("filter")}"id="search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{PoslovniPartneri.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<div class = "container-fluid">
<h1>PoslovniPartneri</h1>

<table>
	<tr class = "header">
	   <th>tipPartnera</th> 
	   <th>nazivPartnera</th>
	   <th>pib</th>
	   <th>adresa</th>
	   <th>Preduzece</th>
	   <th>Mesto</th>
	</tr>
#{list items:poslovniPartneri, as:'poslovniPartner'}
	<tr>
		<td class = "tipPartnera">${poslovniPartner.tipPartnera}</td>
		<td class = "nazivPartnera">${poslovniPartner.nazivPartnera}</td>
		<td class = "pib">${poslovniPartner.pib}</td>
		<td class = "adresa">${poslovniPartner.adresa}</td>
		<td class = "preduzece">${poslovniPartner.preduzece.naziv}</td>
		<td class = "mesto">${poslovniPartner.naseljenoMesto.naziv}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${poslovniPartner.id}</td>
	</tr>
#{/list}
</table>


	
#{set 'action'}
				 
#{if mode == 'add'}
	@{PoslovniPartneri.add()}
#{/if}
				 
#{elseif mode == 'edit'}
	@{PoslovniPartneri.edit()}
#{/elseif}
				 
#{else}
	@{PoslovniPartneri.filter()}
#{/else}
#{/set}


<div class = "panel">
	<p>
		<form action=${action} method="post">

		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				
				#{field 'tipPartnera'}
					<label for = "${field.id}">Tip Partnera</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error 'tipPartnera' /}</span>
					
				#{/}
				</p>
				<p>
				#{field 'nazivPartnera'}
					<label for = "${field.id}">Naziv Partnera</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
					<span>#{error 'nazivPartnera' /}</span>
				#{/}
				</p>
				<p>
				#{field 'pib'}
					<label for = "${field.id}">PIB</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
					<span>#{error 'pib' /}</span>
				#{/}
				</p>
				<p>
				#{field 'adresa'}
					<label for = "${field.id}">Adresa</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
					<span>#{error 'adresa' /}</span>
				#{/}
				</p>
				<p>
				#{field 'preduzece'}
					<label for = "${field.id}">Preduzece</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:preduzeca, as:'preduzece'}
					<option value = "${preduzece.id}">${preduzece.naziv}</option>
					#{/list}
					</select>
					
					 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#preduzecaModal">...	</button>
				#{/}
				</p>
				<p>
				#{field 'naseljenoMesto'}
					<label for = "${field.id}">Naseljeno mesto</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:naseljenaMesta, as:'naseljenoMesto'}
					<option value = "${naseljenoMesto.id}">${naseljenoMesto.naziv}</option>
					#{/list}
					</select>
					
					 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#naseljenaMestaModal">...	</button>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{PoslovniPartneri.show("")}" style="margin-left:1em">Rollback</a>
				</div>			
				</form>
		
	</p>
</div>

<!-- Modal  -->
  <div class="modal fade" id="preduzecaModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Preduzeca
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		    <th>Naziv</th> 
	   		<th>PIB</th>
	   		<th>Adresa</th>
	   		<th>Naseljeno Mesto</th>
		</tr>
		#{list items:preduzeca, as:'preduzece'}
		<tr>
			<td class = "naziv">${preduzece.naziv}</td>
			<td class = "PIB">${preduzece.PIB}</td>
			<td class = "adresaP">${preduzece.adresa}</td>
			<td class = "naseljenoMesto">${preduzece.naseljenoMesto.naziv}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "id">${preduzece.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "preduzecePickup" type = "button" value = "izbor"/>
		</div>
		</div>
      </div>
    </div>
   </div>
</div>

<!-- Modal2 -->
  <div class="modal fade" id="naseljenaMestaModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Naseljena mesta
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>Naziv</th>
		   <th>Oznaka</th>
		   <th>Postanski Broj</th>
		</tr>
		#{list items:naseljenaMesta, as:'naseljenoMesto'}
		<tr>
			<td class = "naziv">${naseljenoMesto.naziv}</td>
			<td class = "oznaka">${naseljenoMesto.oznaka}</td>
			<td class = "postanskiBroj">${naseljenoMesto.postanskiBroj}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "id">${naseljenoMesto.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "naseljenoMestoPickup" type = "button" value = "izbor"/>
		</div>
		</div>
      </div>
    </div>
   </div>
</div>



