#{extends 'standardForm.html' /}
#{set title:'Magacini' /}

<script>
$(document).ready(function(){
	$("#radnikPickup").click(function(){
		id = $(".highlighted").find(".id").html();
		$("select").val(id);
		$('#radniciModal').modal('toggle');
	});
});

$(document).ready(function(){
	$("#preduzecePickup").click(function(){
		id = $(".highlighted").find(".id").html();
		$("select").val(id);
		$('#preduzeceModal').modal('toggle');
	});
});

function sync(item){
	naziv = item.find(".naziv").html()
    id = item.find(".id").html()
    $("#naziv").val(naziv);
    $("#id").val(id);

}
function remove(id){
		$(location).attr('href','/Magacini/remove?id='+id);
	}
		 
function nextform(id){
		$(location).attr('href','/naseljenamesta/next?id='+id);
	}
 



</script>

#{secure.check "administrator"}
<p>
<ul>
  <li><a href="@{Magacini.show("filter")}"id="search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Magacini.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
  <li><a href="@{Magacini.logout()}" id = "logout"><img src="@{'/public/images/remove.gif'}"/></a></li>
</ul>
</p>
#{/secure.check}

<h1>Categories</h1>

<table>
	<tr class = "header">
	   <th>Name</th>
	   <th>Preduzece</th>
	</tr>
#{list items:magacini, as:'magacin'}
	<tr>
		<td class = "name">${magacin.naziv}</td>
		<td class = "preduzece">${magacin.preduzece.naziv}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${magacin.id}</td>
	</tr>
#{/list}
</table>

 #{set 'action'}
	#{if mode == 'add'}
	@{Magacini.create()}
	#{/if}
	#{elseif mode == 'edit'}
	@{Magacini.edit()}
	#{/elseif}
	#{else}
	@{Magacini.filter()}
	#{/else}
	#{/set}

<div class = "panel">
	<p>
	
		<form action=${action} method="post">

		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				
				#{field 'naziv'}
					<label for = "${field.id}">Naziv</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'preduzece'}
					<label for = "${field.id}">Preduzece</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:preduzeca, as:'preduzece'}
					<option value = "${preduzece.id}">${preduzece.naziv}</option>
					#{/list}
					</select>
					
					 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#preduzecaModal">...	</button>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Confirm" style="margin-left:6em"/>
					<a href = "@{Magacini.show("")}" style="margin-left:1em">Rollback</a>
				</div>			
				</form>
		
	</p>
</div>

<!-- Modal -->
 <!--  <div class="modal fade" id="radniciModal" role="dialog">
    <div class="modal-dialog">
      Modal content
      <div class="modal-content">
      <div class="modal-header">
      	Radnici
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>Ime</th>
		   <th>Prezime</th>
		</tr>
		#{list items:radnici, as:'radnik'}
		<tr>
			<td class = "ime">${radnik.ime}</td>
			<td class = "prezime">${radnik.prezime}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "id">${radnik.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "radnikPickup" type = "button" value = "izbor"/>
		</div>
		</div>
      </div>
    </div>
   </div>
</div>  -->

<!-- Modal2  -->
  <div class="modal fade" id="preduzecaModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Preduzeca
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		    <th>Naziv</th> 
	   		<th>PIB</th>
	   		<th>Adresa</th>
	   		<th>Naseljeno Mesto</th>
		</tr>
		#{list items:preduzeca, as:'preduzece'}
		<tr>
			<td class = "naziv">${preduzece.naziv}</td>
			<td class = "PIB">${preduzece.PIB}</td>
			<td class = "adresa">${preduzece.adresa}</td>
			<td class = "naseljenoMesto">${preduzece.naseljenoMesto.naziv}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "id">${preduzece.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "preduzecePickup" type = "button" value = "izbor"/>
		</div>
		</div>
      </div>
    </div>
   </div>
</div>



