#{extends 'standardForm.html' /}
#{set title:'AnalitikeMagKartica' /}

<script>

function sync(item){
	redniBroj = item.find(".redniBroj").html()
    vrstaPrometa = item.find(".vrstaPrometa").html()
    smer = item.find(".smer").html()
    kolicina = item.find(".kolicina").html()
    cena = item.find(".cena").html()
    vrednost = item.find(".vrednost").html()
    
    id = item.find(".id").html()
    $("#redniBroj").val(redniBroj);
    $("#vrstaPrometa").val(vrstaPrometa);
    $("#smer").val(smer);
    $("#kolicina").val(kolicina);
    $("#cena").val(cena);
    $("#vrednost").val(vrednost);
   
    
    $("#id").val(id);

}
function remove(id){
		$(location).attr('href','/AnalitikeMagKartica/remove?id='+id);
	}
		 

 



</script>



<p>
<ul>
  <li><a href="@{AnalitikeMagKartica.show("filter")}"id="search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{AnalitikeMagKartica.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>


<h1>Analitike magacinske kartice</h1>

<table>
	<tr class = "header">
	   <th>Redni broj</th> 
	   <th>Vrsta prometa</th>
	   <th>Smer</th>
	   <th>Kolicina</th>
	   <th>Cena</th>
	   <th>Vrednost</th>
	   
	   
	</tr>
#{list items:analitikeMagKartica, as:'analitikaMagKartice'}
	<tr>
		<td class = "redniBroj">${analitikaMagKartice.redniBroj}</td>
		<td class = "vrstaPrometa">${analitikaMagKartice.vrstaPrometa}</td>
		<td class = "smer">${analitikaMagKartice.smer}</td>
		<td class = "kolicina">${analitikaMagKartice.kolicina}</td>
		<td class = "cena">${analitikaMagKartice.cena}</td>
		<td class = "vrednost">${analitikaMagKartice.vrednost}</td>
		
		<td style = "visibility: hidden; max-width: 0px" class = "id">${analitikaMagKartice.id}</td>
	</tr>
#{/list}
</table>


	
#{set 'action'}
				 
#{if mode == 'add'}
	@{AnalitikeMagKartica.add()}
#{/if}
				 
#{elseif mode == 'edit'}
	@{AnalitikeMagKartica.edit()}
#{/elseif}
				 
#{else}
	@{AnalitikeMagKartica.filter()}
#{/else}
#{/set}


<div class = "panel">
	<p>
		<form action=${action} method="post">

		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				
				#{field 'redniBroj'}
					<label for = "${field.id}">RedniBroj</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error 'redniBroj' /}</span>
					
				#{/}
				</p>
				<p>
				#{field 'vrstaPrometa'}
					<label for = "${field.id}">VrstaPrometa</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
					<span>#{error 'vrstaPrometa' /}</span>
				#{/}
				</p>
				<p>
				#{field 'smer'}
					<label for = "${field.id}">Smer</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
					<span>#{error 'smer' /}</span>
				#{/}
				</p>
				<p>
				#{field 'kolicina'}
					<label for = "${field.id}">Kolicina</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
					<span>#{error 'kolicina' /}</span>
				#{/}
				</p>
				<p>
				#{field 'cena'}
					<label for = "${field.id}">Cena</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
					<span>#{error 'cena' /}</span>
				#{/}
				</p>
				<p>
				#{field 'vrednost'}
					<label for = "${field.id}">Vrednost</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
					<span>#{error 'vrednost' /}</span>
				#{/}
				</p>
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{AnalitikeMagKartica.show("")}" style="margin-left:1em">Rollback</a>
				</div>			
				</form>
		
	</p>
</div>

