#{extends 'standardForm.html' /}
#{set title:'StavkeDokumenata' /}

<script>
$(document).ready(function(){
	$("#prometniDokumentPickup").click(function(){
		id = $(".highlighted").find(".id").html();
		$("select").val(id);
		$('#prometniDokumentiModal').modal('toggle');
	});
});

$(document).ready(function(){
	$("#robaPickup").click(function(){
		id = $(".highlighted").find(".id").html();
		$("select").val(id);
		$('#robeModal').modal('toggle');
	});
});

function sync(item){
	kolicina = item.find(".kolicina").html()
    cena = item.find(".cena").html()
    vrednost = item.find(".vrednost").html()
    id = item.find(".id").html()
    $("#kolicina").val(tipPartnera);
    $("#cena").val(nazivPartnera);
    $("#vrednost").val(pib);
    
    $("#id").val(id);

}
function remove(id){
		$(location).attr('href','/StavkeDokumenata/remove?id='+id);
	}
		 

 



</script>



<p>
<ul>
  <li><a href="@{StavkeDokumenata.show("filter")}"id="search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{StavkeDokumenata.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>


<h1>StavkeDokumenata</h1>

<table>
	<tr class = "header">
	   <th>kolicina</th> 
	   <th>cena</th>
	   <th>vrednost</th>
	   <th>Prometni Dokument</th>
	   <th>Roba</th>
	</tr>
#{list items:stavkeDokumenata, as:'stavkaDokumenta'}
	<tr>
		<td class = "kolicina">${stavkaDokumenta.kolicina}</td>
		<td class = "cena">${stavkaDokumenta.cena}</td>
		<td class = "vrednost">${stavkaDokumenta.vrednost}</td>
		<td class = "prometniDokument">${stavkaDokumenta.prometniDokument.vrstaDokumenta}</td>
		<td class = "roba">${stavkaDokumenta.roba.nazivRobe}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${stavkaDokumenta.id}</td>
	</tr>
#{/list}
</table>


	
#{set 'action'}
				 
#{if mode == 'add'}
	@{StavkeDokumenata.add()}
#{/if}
				 
#{elseif mode == 'edit'}
	@{StavkeDokumenata.edit()}
#{/elseif}
				 
#{else}
	@{StavkeDokumenata.filter()}
#{/else}
#{/set}


<div class = "panel">
	<p>
		<form action=${action} method="post">

		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				
				#{field 'kolicina'}
					<label for = "${field.id}">Kolicina</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error 'kolicina' /}</span>
					
				#{/}
				</p>
				<p>
				#{field 'cena'}
					<label for = "${field.id}">Cena</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
					<span>#{error 'cena' /}</span>
				#{/}
				</p>
				<p>
				#{field 'vrednost'}
					<label for = "${field.id}">Vrednost</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
					<span>#{error 'vrednost' /}</span>
				#{/}
				</p>
				<p>
				#{field 'prometniDokument'}
					<label for = "${field.id}">Prometni Dokument</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:prometniDokumenti, as:'prometniDokument'}
					<option value = "${prometniDokument.id}">${prometniDokument.vrstaDokumenta}</option>
					#{/list}
					</select>
					 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#prometniDokumentiModal">...	</button>
				#{/}
				</p>
				<p>
				#{field 'roba'}
					<label for = "${field.id}">Roba</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:robe, as:'roba'}
					<option value = "${roba.id}">${roba.nazivRobe}</option>
					#{/list}
					</select>
					 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#robeModal">...	</button>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{PoslovniPartneri.show("")}" style="margin-left:1em">Rollback</a>
				</div>			
				</form>
		
	</p>
</div>

<!-- Modal -->
  <div class="modal fade" id="prometniDokumentiModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Prometni Dokumenti
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		 	<th>vrstaDokumenta</th> 
	   		<th>redniBrojDokumenta</th>
	   		<th>datumFormiranja</th>
	   		<th>datumKnjizenja</th>
	   		<th>status</th>
	   		<th>Magacin</th>
	   		<th>PoslovniPartner</th>
		</tr>
		#{list items:prometniDokumenti, as:'prometniDokument'}
		<tr>
			<td class = "vrstaDokumenta">${prometniDokument.vrstaDokumenta}</td>
			<td class = "redniBrojDokumenta">${prometniDokument.redniBrojDokumenta}</td>
			<td class = "datumFormiranja">${prometniDokument.datumFormiranja}</td>
			<td class = "datumKnjizenja">${prometniDokument.datumKnjizenja}</td>
			<td class = "status">${prometniDokument.status}</td>
			<td class = "status">${prometniDokument.magacin}</td>
			<td class = "status">${prometniDokument.poslovniPartner}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "id">${prometniDokument.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "prometniDokumentPickup" type = "button" value = "izbor"/>
		</div>
		</div>
      </div>
    </div>
   </div>
</div>


<!-- Modal 2 -->
  <div class="modal fade" id="robeModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Roba
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		 	<th>Naziv Robe</th> 
		</tr>
		#{list items:robe, as:'roba'}
		<tr>
			<td class = "nazivRobe">${roba.nazivRobe}</td>
			
			<td style = "visibility: hidden; max-width: 0px" class = "id">${roba.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "robaPickup" type = "button" value = "izbor"/>
		</div>
		</div>
      </div>
    </div>
   </div>
</div>



