#{extends 'standardForm.html' /}
#{set title:'JediniceMera' /}

<script>

function sync(item){
	nazivJedMere = item.find(".nazivJedMere").html()
    id = item.find(".id").html()
    $("#nazivJedMere").val(nazivJedMere);
   
    
    $("#id").val(id);

}
function remove(id){
		$(location).attr('href','/JediniceMera/remove?id='+id);
	}
		 

 



</script>



<p>
<ul>
  <li><a href="@{JediniceMera.show("filter")}"id="search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{JediniceMera.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>


<h1>Jedinice Mera</h1>

<table>
	<tr class = "header">
	   <th>Naziv jedinice mere</th> 
	  
	   
	</tr>
#{list items:jediniceMera, as:'jedinicaMere'}
	<tr>
		<td class = "nazivJedMere">${jedinicaMere.nazivJedMere}</td>
		
		
		<td style = "visibility: hidden; max-width: 0px" class = "id">${jedinicaMere.id}</td>
	</tr>
#{/list}
</table>


	
#{set 'action'}
				 
#{if mode == 'add'}
	@{JediniceMera.add()}
#{/if}
				 
#{elseif mode == 'edit'}
	@{JediniceMera.edit()}
#{/elseif}
				 
#{else}
	@{JediniceMera.filter()}
#{/else}
#{/set}


<div class = "panel">
	<p>
		<form action=${action} method="post">

		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				
				#{field 'nazivJedMere'}
					<label for = "${field.id}">naziv</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error 'nazivJedMere' /}</span>
					
				#{/}
				</p>
			
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{JediniceMera.show("")}" style="margin-left:1em">Rollback</a>
				</div>			
				</form>
		
	</p>
</div>

