#{extends 'standardForm.html' /}
#{set title:'Robe.html' /}

<script>
$(document).ready(function(){
	$("grupaRobePickup").click(function(){
		id = $(".highlighted").find(".id").html();
		$("select").val(id);
		$('#grupaRobe').modal('toggle');
	})
})

$(document).ready(function(){
	$("jedinicaMerePickup").click(function(){
		id = $(".highlighted").find(".id").html();
		$("select").val(id);
		$('#jediniceMera').modal('toggle');
	})
})



function sync(item){
	nazivRobe = item.find(".nazivRobe").html()
    id = item.find(".id").html()
    $("#nazivRobe").val(nazivRobe);
    
    
    $("#id").val(id);

}
function remove(id){
		$(location).attr('href','/Robe/remove?id='+id);
	}
		 

 



</script>



<p>
<ul>
  <li><a href="@{Robe.show("filter")}"id="search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Robe.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>


<h1>Robe</h1>

<table>
	<tr class = "header">
	   <th>nazivRobe</th> 
	   <th>Jedinica mere</th>
	   <th>Grupa robe</th>
	</tr>
#{list items:robe, as:'roba'}
	<tr>
		<td class = "nazivRobe">${roba.nazivRobe}</td>
		<td class = "jedinicaMere">${roba.jedinicaMere.nazivJedMere}</td>
		<td class = "grupaRobe">${roba.grupaRobe.nazivGrupe}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${roba.id}</td>
	</tr>
#{/list}
</table>


	
#{set 'action'}
				 
#{if mode == 'add'}
	@{Robe.add()}
#{/if}
				 
#{elseif mode == 'edit'}
	@{Robe.edit()}
#{/elseif}
				 
#{else}
	@{Robe.filter()}
#{/else}
#{/set}


<div class = "panel">
	<p>
		<form action=${action} method="post">

		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				
				#{field 'nazivRobe'}
					<label for = "${field.id}">Naziv Robe</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error 'nazivRobe' /}</span>
					
				#{/}
				</p>
				<p>
				#{field 'jedinicaMere'}
					<label for = "${field.id}">Jedinica mere</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:jediniceMera, as:'jedinicaMere'}
					<option value = "${jedinicaMere.id}">${jedinicaMere.nazivJedMere}</option>
					#{/list}
					</select>
					
					 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#jediniceMeraModal">...	</button>
				#{/}
				</p>
				
				<p>
				#{field 'grupaRobe'}
					<label for = "${field.id}">Grupa robe</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:grupeRoba, as: 'grupaRobe'}
					<option value = "${grupaRobe.id}">${grupaRobe.nazivGrupe}</option>
					#{/list}
					</select>
					 <button type = "button" class = "btn btn-info btn-sm" data-toggle= "modal" data-target= "#grupeRobaModal">... </button>
				#{/}
				</p>
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{Robe.show("")}" style="margin-left:1em">Rollback</a>
				</div>			
				</form>
		
	</p>
</div>

<!-- Modal  -->
  <div class="modal fade" id="jediniceMeraModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Jedinice mera
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>nazivJedMere</th> 
	   	  
		</tr>
		#{list items:jediniceMera, as:'jedinicaMere'}
		<tr>
			<td class = "nazivJedMere">${jedinicaMere.nazivJedMere}</td>
			
			<td style = "visibility: hidden; max-width: 0px" class = "id">${jedinicaMere.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "jedinicaMerePickup" type = "button" value = "izbor"/>
		</div>
		</div>
      </div>
    </div>
   </div>
</div>

<!-- Modal 2 -->
  <div class="modal fade" id="grupeRobaModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Grupe roba
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>nazivGrupe</th> 
	   	  
		</tr>
		#{list items:grupeRoba, as:'grupaRobe'}
		<tr>
			<td class = "nazivGrupe">${grupaRobe.nazivGrupe}</td>
			
			<td style = "visibility: hidden; max-width: 0px" class = "id">${grupaRobe.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "grupaRobePickup" type = "button" value = "izbor"/>
		</div>
		</div>
      </div>
    </div>
   </div>
</div>
